/* mainColor: "#1390cf"
  mainLightColor: "#13c0cf"
  mainDarkColor: "#096491" 
  mainLightDarkColor: "#1377a8"
  mainLightestColor #00aaff*/

body {
  background-image: url("./images/bg.png");
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.Center {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  height: 100vh;
}

.Card {
  box-shadow: 0 0 30px black;
  border: 1px solid #00aaff;
  border-radius: 10px;
  padding: 20px;
  background-color: #00aaff;
  width: 50%;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.FlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardTitle {
  color: white;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.HoverEffect:hover {
  cursor: pointer;
  box-shadow: 0 0 20px black;
}

.HoverPointer:hover {
  cursor: pointer;
}

.removeDecoration:hover {
  text-decoration: none;
}

.navLink {
  font-size: 20px;
  transition: all;
  transition-duration: 300ms;
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.navExtraBtn {
  display: none;
}

.navSearch {
  flex: 2;
}

.navSmLink {
  font-size: 20px;
  transition: all;
  transition-duration: 300ms;
}

.navLink:hover {
  font-size: 25px !important;
}

.navSmLink:hover {
  font-size: 25px !important;
}

.navExtra {
  display: none !important;
}

.imageSlider {
  width: 60%;
}

.itemPreviewText {
  font-size: 30px;
}

.ItemPreviewRow {
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.lg-home-cards-con{
  display: flex;
}

.sm-home-cards-con{
  display: none;
}

@media only screen and (max-width: 1000px) {
  .Card {
    width: 70%;
  }
  .navLink {
    font-size: 20px;
  }
  .imageSlider {
    width: 80%;
  }
  .lg-home-cards-con{
    display: none;
  }
  .sm-home-cards-con{
    display: flex;
  }
}

@media only screen and (max-width: 800px) {
  .navLink {
    display: none;
  }
  .navExtraBtn {
    display: inline;
  }
  .navSearch {
    flex: 5;
  }
  .navExtra {
    display: block !important;
  }
  .imageSlider {
    width: 90%;
  }
  .itemPreviewText {
    font-size: 28px;
  }
}

@media only screen and (max-width: 500px) {
  .Card {
    width: 95%;
  }
  .navSearch {
    flex: 4;
  }
  .navLogo {
    max-width: 100px;
  }
  .imageSlider {
    width: 100%;
  }
  .itemPreviewText {
    font-size: 25px;
  }
  .ItemPreviewRow {
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 5%;
    padding-right: 5%;
  }
}