/* mainColor: "#1390cf"
  mainLightColor: "#13c0cf"
  mainDarkColor: "#096491" 
  mainLightestColor #00aaff*/


body{
  background-image: url("./images/bg.png");
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.MainCon{
  display: flex;
}
.Center{
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  height: 100vh;
}
.Card{
  box-shadow: 0 0 30px black;
  border: 1px solid #00aaff;
  border-radius: 10px;
  padding: 20px;
  background-color: #00aaff;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}
.CardTitle{
  color: white;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.LogoText{
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  color:white;
  margin-top: -10px;
}

.HoverEffect:hover{
  cursor: pointer;
  box-shadow: 0 0 20px black;
}

.removeDecoration:hover{
  text-decoration: none;
}
@media only screen and (max-width: 950px) {
  .Card{
    width: 70%;
  }
}
@media only screen and (max-width: 500px) {
  .Card{
    width: 95%;
  }
}